/* ----- Help Legend CSS -----*/
.help [class*="fa-"] {
    font-size:150%;
  }
  .help .d-flex {
    gap: 15px;
    margin-bottom: 1rem;
    font-size: 10px;
  }
  .help h4{
    font-size: 16px;
  }
  .help p{
    font-size: 12px;
  }
  
  
  
  
  /* @media (max-width: 767px) {
      .map-modal.frame .modal-dialog {
          height: 500px;
          width: 50%;
          max-width: none;
          margin-left: 10%;
          margin-right:auto;
  
        }
  
    }
  
    
  @media (min-width: 768px) and (max-width: 991px) {
      .map-modal .modal-dialog {
        height: 600px;
        width: 50%;
        max-width: none;
        margin-left: 25%;
        margin-right:auto;
      }
  
    } */
  
    /* Styles for screens bigger than or equal to 992 pixels */
  @media (min-width: 992px) {
    .map-modal  .modal-dialog {
        height: auto;
        width: 300px;
        max-width: 800px;
        margin-left: 5rem;
        margin-right: auto;
      }
  
  
  }
  