body {
  font-family: verdana;
  /* min-width: 100%;   */
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: 1rem;
}

.navbar {
  /* min-width: 485px; */
  max-width: 100vw;
}
nav {
  display: flex;
  justify-content: space-around;
}

/* home page element */
.home-btn{
  width:200px;
}
.home-input{
  width:400px;
}

@media (max-width: 767px) {
  .home-btn{
    width:150px;
  } 
  .home-input{
    width:100%;
    margin:auto;
  }
  
}

/* ------ Map ------ */
.Map {
  height: 93vh;
  width: 100vw;
}
.map-container {
  height: 100%;
  width: 100%; 
  position: relative;
  /*flex: 1;*/
}

@media (max-width: 767px) {
  .map-container .gm-style-mtc,
  .map-container .gmnoprint {
    display: none !important;
  }
}

.map-button {
  position: absolute;
  top: 30px; /* Adjust the top position as needed */
  right: 10px; /* Adjust the left position as needed */
  z-index: 2; /* Ensure the button appears above the map */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5); 
}

.modal-map {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-map-content {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
}

.modal-map-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 9998; 
}

.default-button {
  background-color: #779DA6;
  border: none;
}

.default-button:hover {
  background-color: #5C7F89;
}

.nav-color {
  background-color: #112426;
}

/* ----- filter button -----*/
.map-btn{
  position: absolute;
  right: 10px;
  z-index: 999;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  color: #333;
  cursor: pointer;
  font-family: Roboto, Arial, sans-serif;
  line-height: 38px;
  padding: 0 12px;
  text-align: center;
  font-size: 14px;
  width: 38px;
  height: 38px;
}

.map-btn:hover {
  background-color: #e6e6e6;
}

.map-btn:focus {
  outline: none;
  background-color: #e6e6e6;
}
.open-modal-button {
  top: 75px;
}



/* ----- set to nearby button -----*/
.set-mylocation-button {
  top: 125px;
}
/* ----- see station button -----*/
.see-station {
  top: 175px;
}
/* ----- direction button -----*/
.see-direction {
  top: 225px;
}
/* ----- copy URL button -----*/
.copy-URL {
  top: 275px;
}
/* ----- see help button -----*/
.see-help {
  top: 325px;
  font-size: 16px;
}
/* ----- My favorite button -----*/
.see-my-favorite {
  top:375px;
}



@media (max-width: 767px) {
  .map-btn {
    font-size: 14px;
    width: 30px;
    height: 30px;
    padding: 0 7px;
  }
  .open-modal-button {
    top: 75px;
  }
  .set-mylocation-button {
    top: 115px;
  }
  .see-station {
    top: 155px;
  }
  .see-direction {
    top: 195px;
  }
  .copy-URL {
    top: 235px;
  }
  .see-help {
    top: 275px;
  }
  .see-my-favorite {
    top : 315px;
  }
}

/* ----- input -----*/
.input-group {
  z-index: 997;
  align-items: center;
  justify-content: center;
}
.input-group #search-input{
  width:50vw;
}


/* ----- pagination -----*/
.pagination .page-link {
  background-color: white;
  color: black;
  border-color: white;
}

.pagination .page-link:hover {
  background-color: black;
  color: white;
  border-color: black;
}

.pagination .page-item.disabled .page-link {
  background-color: white;
  color: gray;
  border-color: white;
}

.pagination .page-item.active .page-link {
  background-color: black;
  color: white;
  border-color: black;
}

.profile-img {
  height: 200px;
  width: 200px;
  margin-left: 30%;
  margin-bottom: 20px;
}

/* ----- Favorite CSS -----*/
.favorite [class*="fa-"] {
  font-size:150%;
}
.favorite  .d-flex {
  gap: 15px;
  margin-bottom: 1rem;
  font-size: 10px;
}
.favorite  h4{
  font-size: 16px;
}
.favorite  p{
  font-size: 12px;
}


/* ----- Help from home CSS -----*/
.help [class*="fa-"] {
  font-size:150%;
}
.help .d-flex {
  gap: 15px;
  margin-bottom: 1rem;
  font-size: 10px;
}
.help h4{
  font-size: 16px;
}
.help p{
  font-size: 12px;
}



/* ----- Help Legend from map CSS -----*/
.map-modal [class*="fa-"] {
  font-size:150%;
}
.map-modal .d-flex {
  gap: 15px;
  margin-bottom: 1rem;
  font-size: 10px;
}
.map-modal h4{
  font-size: 16px;
}
.map-modal p{
  font-size: 12px;
}
.map-modal-legend span{
  font-size: 0.7rem;
}



/* ---- media ----*/

@media (max-width: 767px) {
  /* help form  home */
  .help .modal-dialog {
    height: 500px;
    width: 80%;
    max-width: none;
    margin-left: 10%;
    margin-right:auto;
  }

  /* help legend form  map */
  .map-modal-legend .modal-dialog {
        width: 90%;
        max-width: none;
        margin-left: 5%;
        margin-right:auto;
        margin-bottom: 6%;
        margin-top: auto;
  }
  .map-modal-legend .modal-body {
          height:200px;
  }
  .map-modal-legend .modal-content {
      position: absolute;
      bottom:10%
  }

  /* favorite modal form  home */
  .favorite  .modal-dialog {
    height: 500px;
    width: 80%;
    max-width: none;
    margin-left: 10%;
    margin-right:auto;
  }

  /* favoriteList modal form  map */
  .map-modal-favoriteList .modal-dialog{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 6%;
    margin-top: auto;
    height: 700px;
    width: 90%;
    max-width: none;
  }
  .map-modal-favoriteList .modal-body {
    height:200px;
  }
  .map-modal-favoriteList .modal-content {
  position: absolute;
  bottom:10%
  }


  /* StationInfo modal form map */
  .map-modal-stationInfo .modal-dialog{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20vh;
    margin-top: auto;
    height: 30vh;
    width: 80%;
    max-width: none;
  }
  .map-modal-stationInfo .modal-body {
    height:30vh;
  } 
  .map-modal-stationInfo .modal-content {
  position: absolute;
  bottom:15%
  }
}


  
@media (min-width: 768px) and (max-width: 991px) {
  /* help form  home */
  .help .modal-dialog {
    height: 600px;
    width: 50%;
    max-width: none;
    margin-left: 25%;
    margin-right:auto;
  }
  
  /* help legend form  map */
  .map-modal-legend .modal-dialog {
    margin-left: 1rem;
    margin-right: auto;
    height: 700px;
    width: 300px;
    max-width: 800px;
  }

  /* favorite modal form  home */
  .favorite  .modal-dialog {
    height: 600px;
    width: 50%;
    max-width: none;
    margin-left: 25%;
    margin-right:auto;
  }

  /* favoriteList modal form  map */
  .map-modal-favoriteList .modal-dialog{
    margin-left: 1rem;
    margin-right: auto;
    height: 700px;
    width: 300px;
    max-width: 800px;
  }

  /* StationInfo modal form  map */
  .map-modal-stationInfo .modal-dialog{
    margin-left: 1rem;
    margin-right: auto;
    height: 700px;
    width: 300px;
    max-width: 800px;

  }
  .map-modal-stationInfo .modal-body{
    height: 400px;
  }  
}

  /* Styles for screens bigger than or equal to 992 pixels */
@media (min-width: 992px) {
  /* help form  home */
  .help  .modal-dialog {
    height: 700px;
    width: 30%;
    max-width: 800px;
    margin-left: 5rem;
    margin-right: auto;
  }

  /* help legend form  map */
  .map-modal-legend  .modal-dialog {
      height: auto;
      width: 300px;
      max-width: 800px;
      margin-left: 5rem;
      margin-right: auto;
    }

  /* favorite  modal form  home */
  .favorite   .modal-dialog {
    height: 700px;
    width: 30%;
    max-width: 800px;
    margin-left: 5rem;
    margin-right: auto;
  }
  /* favoriteList modal form  map */
  .map-modal-favoriteList .modal-dialog{
    margin-left: 5rem;
    margin-right: auto;
    height: 700px;
    width: 300px;
    max-width: 800px;
  }

  /* StationInfo modal form  map */
  .map-modal-stationInfo .modal-dialog{
    margin-left: 5rem;
    margin-right: auto;
    height: 700px;
    width: 300px;
    max-width: 800px;

  }
  .map-modal-stationInfo .modal-body{
    height: 400px;
  }



}